<main id="main-container">
    <div class="content">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h2 class="content-heading">Update Student</h2>
                <a [routerLink]="['/']" class="btn btn-primary float-right mb-3"
                    >Back</a
                >
                <form
                    novalidate
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                >
                    <div class="block block-rounded bg-white">
                        <div class="block-content">
                            <div class="row items-push">
                                <div class="col-lg-6 offset-lg-2">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input
                                            class="form-control"
                                            required
                                            minlength="2"
                                            type="text"
                                            id="name"
                                            name="name"
                                            [(ngModel)]="student.name"
                                            #name="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted && name.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="f.submitted && name.invalid"
                                            class="invalid-feedback"
                                        >
                                            <div *ngIf="name.errors.required">
                                                Name is required
                                            </div>
                                            <div *ngIf="name.errors.minlength">
                                                Name must be greater than 2
                                                characters
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input
                                            class="form-control"
                                            type="email"
                                            email
                                            required
                                            id="email"
                                            name="email"
                                            [(ngModel)]="student.email"
                                            #email="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted && email.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="f.submitted && email.invalid"
                                            class="invalid-feedback"
                                        >
                                            <div *ngIf="email.errors.required">
                                                Email is required
                                            </div>
                                            <div *ngIf="email.errors.email">
                                                Email must be a valid email
                                                address
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="phone"
                                            required
                                            name="phone"
                                            [(ngModel)]="student.phone"
                                            #phone="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted && phone.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="f.submitted && phone.invalid"
                                            class="invalid-feedback"
                                        >
                                            <div *ngIf="phone.errors.required">
                                                Phone is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">address</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            required
                                            id="address"
                                            name="address"
                                            [(ngModel)]="student.address"
                                            #address="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted &&
                                                    address.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="
                                                f.submitted && address.invalid
                                            "
                                            class="invalid-feedback"
                                        >
                                            <div
                                                *ngIf="address.errors.required"
                                            >
                                                Address is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cls">Class</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="cls"
                                            required
                                            name="cls"
                                            [(ngModel)]="student.cls"
                                            #cls="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted && cls.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="f.submitted && cls.invalid"
                                            class="invalid-feedback"
                                        >
                                            <div *ngIf="cls.errors.required">
                                                Class is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="roll">Roll</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="roll"
                                            required
                                            name="roll"
                                            [(ngModel)]="student.roll"
                                            #roll="ngModel"
                                            [ngClass]="{
                                                'is-invalid':
                                                    f.submitted && roll.invalid
                                            }"
                                        />

                                        <div
                                            *ngIf="f.submitted && roll.invalid"
                                            class="invalid-feedback"
                                        >
                                            <div *ngIf="roll.errors.required">
                                                Roll is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-content block-content-full pt-0">
                            <div class="form-group row">
                                <div class="col-lg-6 offset-lg-6 pull-right">
                                    <button
                                        type="submit"
                                        class="btn btn-success"
                                    >
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
