<main id="main-container">
    <div class="content">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h2 class="content-heading">Create Student</h2>
                <a [routerLink]="['/']" class="btn btn-primary float-right mb-3"
                    >Back</a
                >
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="myform">
                    <div class="block block-rounded bg-white">
                        <div class="block-content">
                            <div class="row items-push">
                                <div class="col-lg-6 offset-lg-2">
                                    <div class="form-group">
                                        <label for="apply-question1"
                                            >Name</label
                                        >
                                        <input
                                            class="form-control"
                                            required
                                            id="apply-question1"
                                            name="apply-question1"
                                            formControlName="name"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('name').invalid &&
                                                myform.submitted &&
                                                (myform.get('name').dirty ||
                                                    myform.get('name').touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('name').errors
                                                        .required
                                                "
                                            >
                                                Name is required.
                                            </div>
                                            <div
                                                *ngIf="
                                                    myform.get('name').errors
                                                        .maxlength
                                                "
                                            >
                                                Name cannot be more than 255
                                                characters long.
                                            </div>
                                            <div
                                                *ngIf="
                                                    myform.get('name').errors
                                                        .minlength
                                                "
                                            >
                                                Name must be at least 2
                                                characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input
                                            class="form-control"
                                            type="email"
                                            id="email"
                                            name="email"
                                            formControlName="email"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('email').invalid &&
                                                (myform.get('email').dirty ||
                                                    myform.get('email').touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('email').errors
                                                        .required
                                                "
                                            >
                                                Email is required.
                                            </div>
                                            <div
                                                *ngIf="
                                                    myform.get('email').errors
                                                        .email
                                                "
                                            >
                                                Email must be a valid email.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="phone"
                                            name="phone"
                                            formControlName="phone"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('phone').invalid &&
                                                (myform.get('phone').dirty ||
                                                    myform.get('phone').touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('phone').errors
                                                        .required
                                                "
                                            >
                                                phone is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">address</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="address"
                                            name="address"
                                            formControlName="address"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('address').invalid &&
                                                (myform.get('address').dirty ||
                                                    myform.get('address')
                                                        .touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('address').errors
                                                        .required
                                                "
                                            >
                                                address is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cls">Class</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="cls"
                                            name="cls"
                                            formControlName="cls"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('cls').invalid &&
                                                (myform.get('cls').dirty ||
                                                    myform.get('cls').touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('cls').errors
                                                        .required
                                                "
                                            >
                                                Class is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="roll">Roll</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="roll"
                                            name="roll"
                                            formControlName="roll"
                                        />

                                        <div
                                            *ngIf="
                                                myform.get('roll').invalid &&
                                                (myform.get('roll').dirty ||
                                                    myform.get('roll').touched)
                                            "
                                            class="alert alert-danger"
                                        >
                                            <div
                                                *ngIf="
                                                    myform.get('roll').errors
                                                        .required
                                                "
                                            >
                                                Roll is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-content block-content-full pt-0">
                            <div class="form-group row">
                                <div class="col-lg-6 offset-lg-6 pull-right">
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
